
body {
	background-color: #333;
	color: #ccc;
}

a {
	color: #888;
	text-decoration: none;
}
a:hover {
	color: #aaa;
	text-decoration: underline;
}

nav.pages li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
nav.pages ul {
	margin: 1em 0;
	padding: 0;
}

nav.pages li strong,
nav.pages li a {
	display: inline-block;
	margin: 2px;
	padding: 4px;
	border: 1px solid #111;
	width: 1.8em;
	/*height: 20px;*/
	text-align: center;
}

.img-thumb-box {
	display: inline-block;
}

.img-thumb-box a {
	display: inline-block;
	margin: 8px;
	padding: 8px;
	width: 128px;
	height: 128px;
	background-color: #222;
	border: 1px solid #111;
}

#viewer .nav-links {
	display: none;
}
#viewer {
	display: table;
}
#viewer .featured {
	display: block;
	width: auto;
	height: 100%;

	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#viewer .featured img {
	width: auto;
	height: 100%;

	/*max-width: 100%;
	max-height: 100%;*/
}
#viewer .featured img.fit-width {
	width: 100%;
	height: auto;
}

.win-width,
.win-height {
	position: absolute;
	overflow: hidden;
	display: block;

	margin: 0;
	padding: 0;
	border: 0;
}
.win-width {
	width: 480px;
}
.win-height {
	height: 360px;
}

#nav-links .prev,
#nav-links .next {
	top: 0px;

	width:33%;

	text-indent: 9999px;
	overflow: hidden;
	z-index: 500;

	/*border: 1px solid #f0f;*/
}
#nav-links .prev {
	left: 0px;
}
#nav-links .next {
	right: 0px;
}

#viewer {
	top: 0px;
	left: 0px;

	/*border: 1px solid #0f0;*/
}

#thumb-nav {
	bottom: 0px;
	left: 0px;
	z-index: 1000;

	/*border: 1px solid #00f;*/
}
